.places {
  margin: 0 auto 92px;
  max-width: 984px;
}

@media screen and (max-width: 1070px) {
  .places {
    width: 92%;
  }
}

@media screen and (max-width: 650px) {
  .places {
    width: 100%;
  }
}

@media screen and (max-width: 470px) {
  .places {
    margin-bottom: 66px;
  }
}