.place__text {
  grid-area: article;
  display: grid;
  grid-template-rows: min-content;
  row-gap: 26px;
}

@media screen and (max-width: 650px) {
  .place__text {
    width: 92%;
    margin: 0 auto;
  }
}