.header__position {
  margin: 0 48px 0;
}

@media screen and (max-width: 984px) {
  .header__position {
    margin: 0 24px 0;
  }
}

@media screen and (max-width: 568px) {
  .header__position {
    margin: 0 16px 0;
  }
}