.intro {
  max-width: 690px;
  margin-bottom: 92px;
}

@media screen and (max-width: 820px) {
  .intro {
    margin-bottom: 88px;
  }
}

@media screen and (max-width: 470px) {
  .intro {
    margin-bottom: 64px;
  }
}