.place {
  display: grid;
  grid-template-columns: 460px 484px;
  grid-template-rows: 1fr 460px;
  grid-template-areas: 
  "title website"
  "image article";
  gap: 48px 40px;
}

@media screen and (max-width: 1140px) {
  .place {
    grid-template-columns: 440px 456px;
    grid-template-rows: 1fr 440px;
    column-gap: 32px;
  }
}

@media screen and (max-width: 984px) {
  .place {
    grid-template-columns: 340px 352px;
    grid-template-rows: auto;
    column-gap: 28px;
  }
}

@media screen and (max-width: 650px) {
  .place {
    grid-template-areas: 
    "title"
    "website"
    "image"
    "article";
    grid-template-columns: 1fr;
    row-gap: 32px;
  }
}